<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>权限错误 - 郑州八角信息技术有限公司</title>
    <meta name="author" content="郑州八角信息技术有限公司">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <link href="__CSS__/admin/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
    <link href="__CSS__/admin/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
    <link href="__CSS__/admin/animate.min.css" rel="stylesheet">
    <link href="__CSS__/admin/style.min862f.css?v=4.1.0" rel="stylesheet">
</head>
<body class="gray-bg">
<div class="middle-box text-center animated fadeInDown">
    <h1>V_V</h1>
    <h2 class="font-bold">无权限使用该功能的权限！</h2>
    <p />
    <div class="error-desc">
       <!-- <a class="btn btn-primary btn-lg" href="{:U('Public/Index')}">跳转首页</a>
        <a class="btn btn-success btn-lg" id="href" href="<?php echo($jumpUrl); ?>">立即跳转</a>
        <br /><br />
        <p class="jump">
            页面自动 等待时间： <b id="wait"><?php echo($waitSecond); ?></b>
        </p>-->
    </div>
</div>
<script src="__STATIC__/js/jquery.min.js?v=2.1.4"></script>
<script src="__STATIC__/js/bootstrap.min.js?v=3.3.6"></script>
</body>
</html>
